/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/rubik-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/rubik-v31-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: #222;
  color: #eee;
}

.container {
  max-width: 1000px;
  margin-inline: auto;
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
}

header {
  flex-basis: 30%;
  flex-grow: 1;
}
main {
  flex-basis: 60%;
  flex-grow: 1;
}

img {
  border-radius: 8px;
}

time {
  cursor: help;
}
.profile a {
  white-space: nowrap;
}

.name,
.username {
  margin-block: 0;
}

.name .pron {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.5;
}

.nav ul {
  font-family: monospace;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-block: 0;
  gap: 0.5rem;
  & li {
    padding-block: 0.5rem;
  }
  & li a {
    padding: 0.3rem 0.7rem;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    &.current {
      color: black;
      background-color: #fff;
    }
  }
}

.prompt {
  font-family: monospace;
}

.list {
  list-style-type: none;
  padding: 0;
  font-family: monospace;
  & p {
    margin-block-start: 0;
  }
}
