---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";
import SmallBlogList from "../components/SmallBlogList.astro";
---

<Layout>
  <header>
    <Profile />
  </header>
  <main>
    <SmallBlogList />
  </main>
  <!-- Main -->
  <!-- Blog -->
  <!-- Footer -->
</Layout>
