<h2>About</h2>
<p>
  I'm a programmer from Indonesia. I started learning how to program because i
  want to fix a bug in an open source app. I'm fascinated with open source
  culture and love the idea of making tools that helps people.
</p>
<p>I'm interested in C++, Game dev and Linux</p>
<div>
  <h3>Links</h3>
  <ul>
    <li>
      <a href="https://github.com/sevaaaDev" target="_blank"
        >github.com/sevaaaDev</a
      >
    </li>
  </ul>
</div>
