<h2>About</h2>
<p>
  I'm a programmer from Indonesia. I started learning how to program because i
  wanted to fix a bug in an open source app i used. I'm fascinated by open
  source culture and love the idea of making tools that help people.
</p>
<p>
  I enjoy learning complex things; currently, I'm learning about parsers for my
  CLI shell.
</p>
<p>I'm interested in Compilers, Game dev and Linux.</p>
<div>
  <h3>Links</h3>
  <ul>
    <li>
      <a href="https://github.com/sevaaaDev" target="_blank"
        >github.com/sevaaaDev</a
      >
    </li>
  </ul>
</div>
