---
interface BaseProps {
  title: string;
  url?: string;
}

interface WithSubtitle extends BaseProps {
  desc: string;
  date?: never;
}

interface WithDate extends BaseProps {
  date: string | Date;
  desc?: never;
}

type Props = WithSubtitle | WithDate;
const { title, desc, url, date } = Astro.props;
const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};
let formattedPublishDate;
if (date) {
  formattedPublishDate = new Date(date).toLocaleDateString(
    "en-US",
    dateOptions,
  );
}
---

<style>
  p {
    font-size: 1rem;
    margin: 0;
  }
  p.date {
    font-style: italic;
  }
  h3 {
    margin: 0;
    flex: 1 1 0;
  }
  .card {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
<div class="card">
  <h3><a href={url}>{title}</a></h3>
  <p class={date && "date"}>{desc || formattedPublishDate}</p>
</div>
