---
const { active } = Astro.props;
---

<ul>
  <li class={active == "Posts" ? "active" : ""}><a href="/">Posts</a></li>
  <li class={active == "About" ? "active" : ""}><a href="/about">About</a></li>
</ul>

<style>
  ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid white;
    margin: 0;
    padding: 0.5rem 0;
  }
  a {
    text-decoration: none;
    color: white;
    opacity: 0.5;
  }
  a:hover {
    opacity: 1;
  }
  .active a {
    font-weight: bold;
    opacity: 1;
  }
</style>
