---
import Card from "../components/Card.astro";
---

<h2>Projects</h2>
<Card title="Space Invader" desc="Space Invader inspired game" />
<Card title="Word Grid" desc="Find hidden words inside of grid" />
<!-- TODO: component for card -->
