---
import ProjectCard from "./ProjectCard.astro";
---

<h2>Projects</h2>
<ProjectCard title="Space Invader" repo="space-invader">
  <p>Space invader inspired game</p>
</ProjectCard>
<ProjectCard title="Word Grid" repo="wordgrid">
  <p>Find hidden words inside a grid</p>
</ProjectCard>
<ProjectCard title="Snake Game" repo="SnakeGame">
  <p>Classic snake game</p>
</ProjectCard>
