---
import Card from "./Card.astro";
import { getCollection } from "astro:content";
// const posts = Object.values(
//   import.meta.glob("../pages/posts/*.md", { eager: true }),
// );
const posts = await getCollection("blog");
---

<h2>Blog</h2>
{
  posts.map((post) => (
    <Card
      title={post.data.title}
      url={`/posts/${post.id}`}
      date={post.data.publishDate}
    />
  ))
}
<Card title="lorem ipsum dlor amet" date="18 Jun 25" />
