{{ define "nav" }}
<ul>
  <li><a href="/" class="current">Home</a></li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="/about">About</a></li>
</ul>
{{ end }}
{{ define "main" }}
<h1>Sevaaadev</h1>
<p>
  Hi! my name is sevan, im a programmer that enjoy exploring computer. i write
  blog about things that are related to programming and computer.
</p>
<h2>Recent Post</h2>
<ul class="list">
  {{with .Site.RegularPages | first 5}}
  {{range . }} {{if (strings.Contains .Path "/blog/") }}
  <li class="blog-entry">
    <a href="{{.RelPermalink}}">{{.Title}}</a>
  </li>
  {{end}} {{end}} {{end}}
</ul>
<h2>Code Project</h2>
<div class="card">
  <h3><a href="https://github.com/sevaaadev/lied" target="_blank">Lied</a></h3>
  <p>a line based terminal text editor</p>
</div>
<div class="card">
  <h3><a href="https://github.com/sevaaadev/ssshell" target="_blank">Ssshell</a></h3>
  <p>an unfinished shell with totally disastrous code</p>
</div>
<!--<h2>Series</h2>
<p>these are blog series where its too long to put it in single post</p>
<h3>Making a terminal text editor in Go</h3>
<ul class="list">
  <li class="blog-entry">
    <a href="">Part 1: Making a terminal text editor in Go</a>
  </li>
  <li class="blog-entry">
    <a href="">Part 2: Making a terminal text editor in Go</a>
  </li>
</ul>-->
{{ end }}
