{{define "main"}}
<nav class="nav">
  <ul class="back-button">
    <li>
      <a href='{{urls.JoinPath .Site.BaseURL "/blog"}}' class="current">&lt</a>
    </li>
  </ul>
</nav>
<p class="prompt">
  $ FONT="<select class="font-select">
    <option value="Rubik">Rubik</option>
    <option value="Fira Code">Fira Code</option></select
  >" cat --fmt=md -- /blog/{{print .Title}}
</p>
<div class="__line-height-mod content">
  <div class="group">
    <h1>{{ .Title }}</h1>
    <p class="title-date">
      Written in
      <time datetime="{{.Date}}">{{time.Format "Mon, 02 Jan 2006" .Date}}</time>
    </p>
  </div>
  {{ .Content }}
</div>
{{end}}
