/* fira-code-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/fira-code-v27-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-code-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/fira-code-v27-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/rubik-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/rubik-v31-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* zen-old-mincho-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Zen Old Mincho";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/zen-old-mincho-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --clr-banner: #89b482;
  --clr-bg: #282828;
  --clr-fg: #ddc7a1;
  --clr-link: #7daea3;
}

body {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  background-color: var(--clr-bg);
  color: var(--clr-fg);
}

.container {
  max-width: 700px;
  margin-inline: auto;
}

h1,
h2,
h3,
p {
  margin-block: 1rem;
}

pre {
  padding: 1rem;
  overflow: scroll;
  border-radius: 8px;
}

code {
  font-family: "Fira Code";
}

a {
  color: var(--clr-link);
}

nav ul {
  list-style-type: none;
  padding-inline: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
nav a:not(.current) {
  text-decoration: none;
}

.list {
  list-style-type: none;
  padding-inline: 0rem;
}
.list a {
  text-decoration: none;
}
.list time {
  font-family: Fira Code;
}
ul {
  font-family: Zen Old Mincho;
}

p {
  font-family: Zen Old Mincho;
}

.group {
  & .title,
  & p {
    text-align: center;
  }
}
