---
import "../assets/default.css";
const { frontmatter } = Astro.props;
const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};

const formattedPublishDate = new Date(
  frontmatter.publishDate,
).toLocaleDateString("en-US", dateOptions);

const formattedModifiedDate = new Date(
  frontmatter.modifiedDate,
).toLocaleDateString("en-US", dateOptions);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Seva's Personal Page</title>
  </head>
  <body>
    <div class="container">
      <a href="/">Home</a>
      <header class="header">
        <h1>{frontmatter.title}</h1>
        <p>
          Posted on <time datetime={frontmatter.publishDate}
            >{formattedPublishDate}</time
          >
        </p>
      </header>
      <slot />
    </div>
  </body>
</html>

<style>
  body {
    margin: 0;
    box-sizing: border-box;
    background-color: #eee;
  }
  .container {
    padding: 1rem;
    max-width: 700px;
    margin-inline: auto;
    min-height: 100dvh;
  }
  .header h1,
  p {
    margin: 0;
  }
  .header {
    margin: 2rem 0;
  }
</style>
