---
import "../assets/default.css";
import Profile from "../components/Profile.astro";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Seva's Personal Page</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
	<Profile />
      </header>
      <div class="second-col">
	<nav>
	  <Navbar active="Posts" />
	</nav>
	<main>
  	  <slot />	  
	</main>
      </div>
    </div>
  </body>
</html>

<style>
  body {
    margin: 0;
    box-sizing: border-box;
  }
  .container {
    padding: 1rem;
    max-width: 1000px;
    margin-inline: auto;
/*    min-height: 100dvh; */
    display: flex;
/*    border: 1px solid yellow; */
    gap: 2rem;
    flex-wrap: wrap;
  }
  .second-col {
    flex-basis: 50%;
    flex-grow: 1;
  }
  .header {
    max-width: min-content;
  }
</style>
