---
import "../assets/default.css";
import Profile from "../components/Profile.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Seva's Personal Page</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
	<Profile />
      </header>
      <div class="second-col">
	<nav>
	  <ul>
	    <li><a href="/">Posts</a></li>
	    <li><a href="/about">About</a></li>
	  </ul>
	</nav>
	<main>
  	  <slot />	  
	</main>
      </div>
    </div>
  </body>
</html>

<style>
  body {
    margin: 0;
    box-sizing: border-box;
  }
  .container {
    padding: 1rem;
    max-width: 1000px;
    margin-inline: auto;
    min-height: 100dvh;
    display: flex;
    border: 1px solid yellow;
  }
  .second-col {
    flex-basis: 0;
    flex-grow: 1;
  }
  .header {
    max-width: 30%;
  }
</style>
